src/main/resources/schemas/fhir/fhir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cbmi.htw-berlin.de/fhir"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fhir="http://cbmi.htw-berlin.de/fhir"
           xmlns:xdat="http://nrg.wustl.edu/xdat"
           xmlns:xnat="http://nrg.wustl.edu/xnat"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:element name="FHIRContactPoint" type="fhir:contactPoint"/>
    <xs:element name="FHIRHumanName" type="fhir:humanName"/>
    <xs:element name="FHIRIdentifier" type="fhir:identifier"/>
    <xs:element name="FHIRAddress" type="fhir:patient"/>
    <xs:element name="FHIRAttachement" type="fhir:attachement"/>
    <xs:element name="FHIRPatient" type="fhir:address"/>

    <xs:simpleType name="contactPointSystem">
        <xs:restriction base="xs:string">
            <xs:enumeration value="phone" />
            <xs:enumeration value="fax" />
            <xs:enumeration value="email" />
            <xs:enumeration value="pager" />
            <xs:enumeration value="url" />
            <xs:enumeration value="sms" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="contactPointUse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="home" />
            <xs:enumeration value="work" />
            <xs:enumeration value="temp" />
            <xs:enumeration value="old" />
            <xs:enumeration value="mobile" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="contactPoint">
        <xs:sequence>
            <xs:element name="system" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Way of contact:</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:contactPointSystem"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="use" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Purpose of the contact:</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:contactPointUse"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rank" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
            <xs:element name="period" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                        <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="humanNameUse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="usual" />
            <xs:enumeration value="offical" />
            <xs:enumeration value="temp" />
            <xs:enumeration value="nickname" />
            <xs:enumeration value="anonymous" />
            <xs:enumeration value="old" />
            <xs:enumeration value="maiden" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="humanName">
        <xs:sequence>
            <xs:element name="use" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>NameUse</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:humanNameUse"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="family" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="given" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="prefix" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="period" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                        <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="identifierUse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="usual" />
            <xs:enumeration value="offical" />
            <xs:enumeration value="temp" />
            <xs:enumeration value="secondary" />
        </xs:restriction>
    </xs:simpleType>

    <!-- see https://www.hl7.org/fhir/valueset-identifier-type.html -->
    <xs:simpleType name="identifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DL" />
            <xs:enumeration value="PPN" />
            <xs:enumeration value="BRN" />
            <xs:enumeration value="MR" />
            <xs:enumeration value="MCN" />
            <xs:enumeration value="EN" />
            <xs:enumeration value="TAX" />
            <xs:enumeration value="NIIP" />
            <xs:enumeration value="PRN" />
            <xs:enumeration value="MD" />
            <xs:enumeration value="DR" />
            <xs:enumeration value="ACSN" />
            <xs:enumeration value="UDI" />
            <xs:enumeration value="SNO" />
            <xs:enumeration value="SB" />
            <xs:enumeration value="PLAC" />
            <xs:enumeration value="FILL" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="identifier">
        <xs:sequence>
            <xs:element name="use" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifier use</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:identifierUse"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of identifier</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:identifierType"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The namespace for the identifier value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The value that is unique</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="period" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Time period when id is/was valid for use</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                        <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="assigner_ID" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Organization that issued id (may be just text)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- see https://www.hl7.org/fhir/valueset-administrative-gender.html -->
    <xs:simpleType name="administrativeGender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male" />
            <xs:enumeration value="female" />
            <xs:enumeration value="other" />
            <xs:enumeration value="unknown" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="addressUse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="home" />
            <xs:enumeration value="work" />
            <xs:enumeration value="temp" />
            <xs:enumeration value="old" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="addressType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="postal" />
            <xs:enumeration value="physical" />
            <xs:enumeration value="both" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="use" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>AddressUse</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:addressUse"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>AddressType</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:addressType"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Text representation of the address</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="line" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Street name, number, direction &amp; P.O. Box etc.
This repeating element order: The order in which lines should appear in an address label</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Name of city, town etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="district" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>District name (aka county)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Sub-unit of country (abbreviations ok)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postal code for area</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Country (e.g. can be ISO 3166 2 or 3 letter code)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="period" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Time period when id is/was valid for use</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                        <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="assigner_ID" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Organization that issued id (may be just text)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="maritalStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A" />
            <xs:enumeration value="D" />
            <xs:enumeration value="I" />
            <xs:enumeration value="L" />
            <xs:enumeration value="M" />
            <xs:enumeration value="P" />
            <xs:enumeration value="S" />
            <xs:enumeration value="T" />
            <xs:enumeration value="U" />
            <xs:enumeration value="W" />
            <xs:enumeration value="UNK" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="commonLanguages">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ar" />
            <xs:enumeration value="bn" />
            <xs:enumeration value="cs" />
            <xs:enumeration value="da" />
            <xs:enumeration value="de" />
            <xs:enumeration value="de-AT" />
            <xs:enumeration value="de-CH" />
            <xs:enumeration value="de-DE" />
            <xs:enumeration value="el" />
            <xs:enumeration value="en" />
            <xs:enumeration value="en-AU" />
            <xs:enumeration value="en-CA" />
            <xs:enumeration value="en-GB" />
            <xs:enumeration value="en-IN" />
            <xs:enumeration value="en-NZ" />
            <xs:enumeration value="en-SG" />
            <xs:enumeration value="en-US" />
            <xs:enumeration value="es" />
            <xs:enumeration value="es-AR" />
            <xs:enumeration value="es-ES" />
            <xs:enumeration value="es-UY" />
            <xs:enumeration value="fi" />
            <xs:enumeration value="fr" />
            <xs:enumeration value="fr-BE" />
            <xs:enumeration value="fr-CH" />
            <xs:enumeration value="fr-FR" />
            <xs:enumeration value="fy" />
            <xs:enumeration value="fy-NL" />
            <xs:enumeration value="hi" />
            <xs:enumeration value="hr" />
            <xs:enumeration value="it" />
            <xs:enumeration value="it-CH" />
            <xs:enumeration value="it-IT" />
            <xs:enumeration value="ja" />
            <xs:enumeration value="ko" />
            <xs:enumeration value="nl" />
            <xs:enumeration value="nl-BE" />
            <xs:enumeration value="nl-NL" />
            <xs:enumeration value="no" />
            <xs:enumeration value="no-NO" />
            <xs:enumeration value="pa" />
            <xs:enumeration value="pt" />
            <xs:enumeration value="pt-BR" />
            <xs:enumeration value="ru" />
            <xs:enumeration value="ru-RU" />
            <xs:enumeration value="sr" />
            <xs:enumeration value="sr-SP" />
            <xs:enumeration value="sv" />
            <xs:enumeration value="sv-SE" />
            <xs:enumeration value="te" />
            <xs:enumeration value="zh" />
            <xs:enumeration value="zh-CN" />
            <xs:enumeration value="zh-HK" />
            <xs:enumeration value="zh-SG" />
            <xs:enumeration value="zh-TW" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="attachement">
        <xs:sequence>
            <xs:element name="contentType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Mime type of the content, with charset etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="language" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Human language of the content (BCP-47)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="fhir:commonLanguages"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="data" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Data inline, base64ed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Uri where the data can be found</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="size" type="xs:unsignedInt" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Number of bytes of content (if url provided)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hash" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Hash of the data (sha-1, base64ed)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Label to display in place of the data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="creation" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Date attachment was first created</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="contactRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BP" />
            <xs:enumeration value="C" />
            <xs:enumeration value="CP" />
            <xs:enumeration value="E" />
            <xs:enumeration value="EP" />
            <xs:enumeration value="F" />
            <xs:enumeration value="I" />
            <xs:enumeration value="N" />
            <xs:enumeration value="O" />
            <xs:enumeration value="PR" />
            <xs:enumeration value="S" />
            <xs:enumeration value="U" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="genderStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="neutered" />
            <xs:enumeration value="intact" />
            <xs:enumeration value="unknown" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="linkType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="replaced-by" />
            <xs:enumeration value="replaces" />
            <xs:enumeration value="refer" />
            <xs:enumeration value="seealso" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="patient">
        <xs:complexContent>
            <xs:extension base="xnat:subjectAssessorData">
                <xs:sequence minOccurs="0">
                    <xs:element name="identifier" type="fhir:identifier" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Patient identifier</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation relationType="multi" relationName="fhir_patient_identifier"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Whether this patient's record is in active use</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="fhir:humanName" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A name associated with the patient</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation relationType="multi" relationName="fhir_patient_humanName"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="telecom" type="fhir:contactPoint" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A contact detail for the individual</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation relationType="multi" relationName="fhir_patient_contactPoint"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="gender" minOccurs="0" maxOccurs="1" type="fhir:administrativeGender">
                        <xs:annotation>
                            <xs:documentation>AdministrativeGender</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="birthDate" type="xs:date" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The date of birth for the individual</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deceased" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Indicates if the individual is deceased or not</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="deceasedBoolean" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="deceasedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="address" type="fhir:address" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Addresses for the individual</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation relationType="multi" relationName="fhir_patient_address"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="maritalStatus" minOccurs="0" maxOccurs="1" type="fhir:maritalStatus">
                        <xs:annotation>
                            <xs:documentation>Marital (civil) status of a patient</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="multipleBirth" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Whether patient is part of a multiple birth</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="multipleBirthBoolean" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="multipleBirthInteger" type="xs:integer" minOccurs="0" maxOccurs="1" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="photo" type="fhir:attachement" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Addresses for the individual</xs:documentation>
                            <xs:appinfo>
                                <xdat:field>
                                    <xdat:relation relationType="multi" relationName="fhir_patient_attachement"/>
                                </xdat:field>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="contact" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A contact party (e.g. guardian, partner, friend) for the patient</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- normally maxOccurs should be unbounded, however the xnat compiler does not understand that :( -->
                                <xs:element name="relationship" minOccurs="0" maxOccurs="1" type="fhir:contactRole">
                                    <xs:annotation>
                                        <xs:documentation>The kind of relationship</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="name" type="fhir:humanName" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>A name associated with the contact person</xs:documentation>
                                        <xs:appinfo>
                                            <xdat:field>
                                                <xdat:relation relationType="multi" relationName="fhir_patient_contact_humanName"/>
                                            </xdat:field>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="telecom" type="fhir:contactPoint" minOccurs="0" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>A contact detail for the person</xs:documentation>
                                        <xs:appinfo>
                                            <xdat:field>
                                                <xdat:relation relationType="multi" relationName="fhir_patient_contact_contactPoint"/>
                                            </xdat:field>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="address" type="fhir:address" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>Address for the contact person</xs:documentation>
                                        <xs:appinfo>
                                            <xdat:field>
                                                <xdat:relation relationType="multi" relationName="fhir_patient_contact_address"/>
                                            </xdat:field>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="gender" minOccurs="0" maxOccurs="1" type="fhir:administrativeGender">
                                    <xs:annotation>
                                        <xs:documentation>AdministrativeGender</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="organization_ID" type="xs:integer" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>Organization that is associated with the contact</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="period" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>The period during which this contact person or organization is valid to be contacted relating to this patient</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="start" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="end" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="animal" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>This patient is known to be an animal (non-human)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- normally maxOccurs should be unbounded, however the xnat compiler does not understand that :( -->
                                <xs:element name="species" minOccurs="0" maxOccurs="1" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>E.g. Dog, Cow. Include these codes as defined in http://snomed.info/sct </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="breed" minOccurs="0" maxOccurs="1" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>E.g. Poodle, Angus. Include these codes as defined in http://snomed.info/sct</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="genderStatus" minOccurs="0" maxOccurs="1" type="fhir:genderStatus">
                                    <xs:annotation>
                                        <xs:documentation>E.g. Neutered, Intact</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="communication" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A list of Languages which may be used to communicate with the patient about his or her health</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="language" minOccurs="0" maxOccurs="1" type="fhir:commonLanguages">
                                    <xs:annotation>
                                        <xs:documentation>The language which can be used to communicate with the patient about his or her health</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="preferred" minOccurs="0" maxOccurs="1" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:documentation>Language preference indicator</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="generalPractitioner_ID" minOccurs="0" maxOccurs="unbounded" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Patient's nominated primary care provider</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="managingOrganization_ID" minOccurs="0" maxOccurs="1" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Organization that is the custodian of the patient record</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Link to another patient resource that concerns the same actual person</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="other_ID" minOccurs="1" maxOccurs="1" type="xs:integer">
                                    <xs:annotation>
                                        <xs:documentation>The other patient or related person resource that the link refers to</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="type" minOccurs="1" maxOccurs="1" type="fhir:linkType">
                                    <xs:annotation>
                                        <xs:documentation>type of link</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
